accelerate==0.21.0
albumentations==0.5.2
colorlog==6.7.0
controlnet-aux==0.0.6
datasets==2.14.5
easydict==1.10
gradio==3.41.2
jaxtyping==0.2.20
kornia==0.6.7
lightning==2.0.0
loguru==0.7.0
lpips==0.1.4
mediapipe==0.10.3
moviepy==1.0.3
natsort==8.4.0
pymcubes==0.1.4
pyrender==0.1.45
taming-transformers-rom1504==0.0.6
tensorboard==2.13.0
tensorboardx==2.6.2.2
transformers==4.30.2
wandb==0.15.8
xatlas==0.0.7
libigl==2.5.0
scikit-learn==1.3.2
scikit-image==0.22.0
scipy==1.11.4
webdataset==0.2.86
diffusers==0.24.0

git+https://github.com/openai/CLIP.git
git+https://github.com/ashawkey/envlight.git
git+https://github.com/NVlabs/nvdiffrast.git
git+https://github.com/KAIR-BAIR/nerfacc.git@v0.5.2
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch